<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>location</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.glimpse.app.backup</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>glimpse-backup</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.googleusercontent.apps.google-backup</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.302722862393-lmqomnd2h74u33obukankjqnta97grc1</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
